@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

.content {
  height: 90vh;
  background-image: url(//unsplash.it/1000/1000);
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

:root {
  --background: rgba(0, 0, 0, 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}
header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  align-content: left;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.maincontainer {
  position: relative;
  width: 250px;
  height: 275px;
  padding: 20px;
}


.thecard {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.1s ease;
}

.thecard:hover{
  transform: rotateY(180deg);
}

.thefront {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #ffc728;
  color:#333;
  border-radius: 20px;
}

.theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: #fafafa;
  color:#333;
  transform: rotateY(180deg);
  border-radius: 20px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 25px 100px 100px 50px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*/*/*/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}


.content-cv {
  height: 170vh;
  background-image: url(//unsplash.it/1000/1000);
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

.content-about {
  height: 220vh;
  background-image: url(//unsplash.it/1000/1000);
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
  }

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #666;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  h1 a {
    grid-column: 2 / 1;
    color: #e9e1cc;
  }

  h1 a:hover {
    color: #666;
  }

  nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #666;
    position: absolute;
    bottom: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

.link:hover {
   COLOR: blue;
   TEXT-DECORATION: underline;
   font-weight: none;
 }


.card-white {
    background-color: #e9e1cc;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px auto;
    text-align: center;
    width: 30%;
  }

  .card-cv {
    background-color: #e9e1cc;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px auto;
    text-align: center;
    width: 70%;
  }

  .card-contact {
    background-color: #e9e1cc;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px auto;
    text-align: center;
    width: 50%;
  }

   .card-about {
    background-color: #e9e1cc;
    padding: 10px 20px 190px 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 0px auto;
    text-align: center;
    width: 70%;
    height: 70%;
  }



   .card-projects {
    background-color: #e9e1cc;
    padding: 20px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px auto;
    text-align: center;
    width: 95%;
  }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  text-align: center;
}

div {
    display: block;
}
.marg-left {
  text-align: left;
}

/*body {
    background: #222831;
    color: #948a8f;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}*/

.img-circle {
  border-radius: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.btn-blue {
    background-color: #978ea2;
    color: #f9eef2;
    padding: 5px 15px;
    border-radius: 4px;
}

a {
  text-decoration: none;
}

.btn-blue:hover {
  background-color: #514d56;
}

.list-inline > li {
  display: inline-block;
  padding: 20px 40px;
  font-weight: lighter;
  text-align: right;
  padding-right: 20px 20px 20px 20px;
}


.icons {
  color: #575F7D;
  font-family: 'Lora', serif;
  font-size: 30px;
}

.icons:hover {
  color: #1c1d1f;
  font-family: 'Lora', serif;
  font-size: 30px;
  background-color:
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

form {
        /* Just to center the form on the page */
        margin: 0 auto;
        width: 500px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      form li + li {
        margin-top: 1em;
      }

      label {
        /* To make sure that all labels have the same size and are properly aligned */
        display: inline-block;
        width: 70px;
        text-align: right;
      }

      input,
      textarea {
        /* To make sure that all text fields have the same font settings By default, textareas have a monospace font */
        font: 1em sans-serif;
        /* To give the same size to all text fields */
        width: 300px;
        box-sizing: border-box; /* To harmonize the look & feel of text field border */
        border: 1px solid #999;
      }

      input:focus,
      textarea:focus {
        /* To give a little highlight on active elements */
        border-color: #000;
      }

      textarea {
        /* To properly align multiline text fields with their labels */
        vertical-align: top;
        /* To give enough room to type some text */
        height: 5em;
      }

      .button {
        /* To position the buttons to the same position of the text fields */
        padding-left: 70px;
        /* same size as the label elements */
      }

      button {
        /* This extra margin represent roughly the same space as the space between the labels and their text fields */
        margin-left: 0.5em;
      }

